body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.title-and-text-section {
  position: fixed;

  top: 0;
  left: 0;
  right: 0;
  height: 100px;
  
  margin: 0 auto;
  max-width: 960px;
  
  display: flex;
  flex-direction: row;
  padding: 10px;

  background-color: white;

  .title-container {
    flex-grow: 1;
    padding-right: 10px;

    .title {
      height: 100%;
    }
  }

  .text-container {
    flex-grow: 4;
    // padding: 10px;

    .text {
      height: 100%;
    }
  }
}

.cloze-codes-and-generate-button-section {
  position: fixed;
  left: 0;
  right: 0;
  height: 100px;
  
  margin: 0 auto;
  max-width: 960px;

  padding: 0 10px;
  top: 100px;
  width: 100%;
  margin: 0 auto;
  max-width: 960px;
  height: 30px;
  display: flex;
  justify-content: space-between;

  background-color: white;

  .cloze-code-container {
    width: 100px;
  }
}

.chinese-text {
  
  padding: 10px;
  width: 100%;
  margin: 0 auto;
  margin-top: 130px;
  max-width: 960px;

  font-size: 25px;

  rt {
    color: #999;
    font-size: 60%;
    transition: color 0.3s;
  }

  rt.hasBeenClozed {
    color: white;
  }
}